body {
    margin: 0 auto;
    width: 575px;
    height: 385px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    text-align: center;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    margin: 0px;
    width: 155px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;
}

.container {
    font-family: 'Cursed Timer ULiL', sans-serif;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
/* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
    justify-content: space-around; 
}

.home-btns {
    display: flex;
    width: 155px;
  
}

.guest-btns {
    display: flex;
    width: 155px;

}

.btn {
    margin: 26px auto;
    padding: 5px;
    border: 2px solid #9AABD8;
}

#plus1hmbtn {
    background: #1B244A;
    color: #9AABD8;
    font-size: 18px;
}

#plus2hmbtn {
    background: #1B244A;
    color: #9AABD8;
    font-size: 18px;
}

#plus3hmbtn {
    background: #1B244A;
    color: #9AABD8;
    font-size: 18px;
}

#plus1gstbtn {
    background: #1B244A;
    color: #9AABD8;
    font-size: 18px;
}

#plus2gstbtn {
    background: #1B244A;
    color: #9AABD8;
    font-size: 18px;
}

#plus3gstbtn {
    background: #1B244A;
    color: #9AABD8;
    font-size: 18px;
}